giab_benchmark/giab_hg002_output_bowtie2_G40_min5_qfilters
giab_benchmark/giab_hg002_output_bowtie2_G60_min5_qfilters
giab_benchmark/giab_hg002_reads
giab_benchmark/giab_hg002_vcf
gnaq_analysis/GNAQ_reads
gnaq_analysis/bwa-mem2_160_output
/homes/dtzim01/ParaDISM/gnaq_analysis/bwa-mem2_160_output
hts_analysis/
simulation/dwgsim
simulation/pkd_reads_dwgsim
simulation/simulations_outputs
CLAUDE.md
__pycache__/
*.pyc
*ref.fa
*.fai
